@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap');
/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
 */

 *{box-sizing: border-box;}
 .w-100 {width: 100%;}
 .wrapper {max-width: 1440px;}