@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap');
/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;

color: #1a3c34;
color: #ff5e30;
 */

 html,body {font-family: 'Noto Serif', serif; color: #1a3c34; background-color: #f4f3f0;}
 div {box-sizing: border-box;}
 a {
	color: inherit;
	text-decoration: none;
 }
 .w-100 {width: 100%;}
 .mw-100 {width: 100%;}
 .h-100 {height: 100%;}
 .m-wrapper {max-width: 1440px; margin: auto;}
 .wrapper {max-width: 1376px; margin: auto;}

 .text-wrap {text-align: center; flex: 50% 0 0; padding: 0 4em;}
  h4.sub-title {color: #0071ce; font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 0.875em;}
  h3.title {font-size: 3em; line-height: 1.2; margin: 1em 0 0.5em;}
  p.content {line-height: 1.7; font-size: 0.875em; letter-spacing: 0.2px;}
  button {background-color: #1a3c34; color: #f9f9f9; border-radius: 3px; padding: 1em 1.7em; border: 0; font-size: 0.875em; letter-spacing: 0.05em; transition: all .2s; font-size: 0.875em; margin-top: 2em;}
  button:hover {background-color: #e7e4d3; color: #1a3c34;}


 /* ********.header-wrapper******* */
 .navi-wrapper {background-color: #fff; position: fixed; padding: 1em 3em; width: 100%; z-index: 9;}
 .navi-wrap {display: flex; align-items: center; justify-content: space-between; color: #3b695d; font-size: 0.95em;}
 .navi-wrap .navi-left {display: flex; align-items: center;}
 .navi-wrap h1 img {width: 165px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
 .navi-wrap .navi-right {overflow: hidden;}
 .navi-wrap .navi-right-cont {display: flex; align-items: center; transform: translate(290px); transition: all 0.5s;}
 .navi-wrap .navi-right-cont.active {transform: translate(0);}
 .navi-wrap .line{width: 2px; height: 60px; background-color: #eee; margin-right: 2em;}
 .navi-wrap .navi-right i {cursor: pointer; font-size: 1.125em;}
 .navi-wrap .navi {position: relative;}
 .navi-wrap .navi > a {margin-right: 1.7em; transition: all .2s;}
 .navi-wrap .navi:hover > a{color: #ff5e30;}

 .navi-right .search {opacity: 0;}
 .navi-right .search input {margin-right: 2em; border: 1px solid #ccc; padding: 1em 1.5em;}
 .navi-right .search i {font-size: 1.5em; font-weight: lighter;}

 .sub-navi {background-color: #fff; width: 225px; position: absolute; top: 30px; left: -20px; padding: 1.5em; box-shadow: 0 -1px 2px rgba(199, 199, 199, 0.7); display: none; z-index: 10;}
 .sub-navi ul.featured {border-bottom: 1px solid #eee; padding-bottom: 2.5em; margin-bottom: 2em;}
 .sub-navi .title {color: #579385; padding-bottom: 1em;}
 .sub-navi li {display: flex; justify-content: space-between; align-items: center;}
 .sub-navi li > i {opacity: 0; transition: all .5s;}
 .sub-navi a {display: block; font-family: 'Noto Sans', sans-serif; line-height: 1.3; padding: 0.25em 0; padding-left: 0.5em; font-size: 0.9em; color: #102f28;}
 .sub-navi a:hover {color: #ff5e30;}
 .sub-navi li:hover i {color: #ff5e30; opacity: 1; transform: translateX(6px);}
 .navi-impact > .sub-navi a {padding: 0.875em 0.5em; font-family: 'Noto Serif', serif;}

 /* ********.main-wrapper******* */
 .main-wrapper {position: relative;}
 .main-wrap .banner {width: 100%; height: 810px; background-image: url(../img/banner3.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
 .main-wrap .title-wrap {position: absolute; bottom: 15%; padding: 0 6.5em; width: 50%;}
 .main-wrap .title-wrap .title {font-size: 4em; line-height: 1.2;}
 .main-wrap .title-wrap .content {font-size: 1.25em; line-height: 1.2; margin: 1em 0 1.7em;}
 .main-wrap .title-wrap button {background-color: #fff; color: #000; margin-top: 0; transition: all 0.3s;}
 .main-wrap .title-wrap button:hover {background-color: rgba(255,255,255,0.8);}
 
 /* ********.new-wrapper******* */
 .new-wrap {margin: 4em 0; display: flex; align-items: center;}
 .new-wrap .img-wrap {flex: 50% 0 0; padding: 0 7em;}
 .text-wrap p.content-1 {margin-top: 2em; font-size: 0.875em;}
 
 /* ********.best-wrapper******* */
 .best-wrapper {text-align: center; background-color: #ebe9e5; padding: 6em 0 4em;}
 .best-wrapper h4 {margin-bottom: 4em;}
 .best-wrapper button {margin-top: 3em;}
 .best-wrapper .best-wrap {display: flex; justify-content: space-evenly; align-items: flex-end;}
 .best-wrap .best {flex: 20% 0 0;}
 .best-wrap .best p {margin-top: 2em;}
 
 /* ********.products-wrapper******* */
 .prd-wrap {margin-top: 4em; display: flex; align-items: center;}
 .prd-wrap .img-wrap {flex: 50% 0 0; padding: 0 7em;}
 .prd-wrap:last-child .img-wrap {order: -1;}
  
 /* ********.slide-wrapper******* */
 .slide-wrapper {margin: 10em 0; text-align: center; position: relative;}
 .swiper-wrapper {max-height: 380px;}
 .swiper-slide {position: relative;}
 .swiper-slide .box {background-color: #1a3c34;}
 .swiper-slide .box img {transition: all 0.4s;}
 .swiper-slide .box span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -30%); color: #f9f9f9; font-size: 1.5em; font-weight: lighter; line-height: 1.4; opacity: 0; transition: all 0.5s; letter-spacing: 0.05em;}
 .swiper-slide .box.active span {opacity: 1; top: 50%; left: 50%; transform: translate(-50%, -50%);}
 .swiper-slide .box.active img {opacity: 0.1;}
 .pager-wrap {position: absolute; left: 50%; transform: translateX(-50%); display: flex; margin-top: 1.5em;}
 .swiper-pagination-bullet {width: 15px; height: 15px; border-radius: 50%; margin-left: 0.7em; background-color: #000;}
 .swiper-pagination-bullet-active {background-color: #17332c;}
  
 /* ********footer******* */
 footer.wrapper {margin-top: 10em; background-color: #1a3c34; color: #f9f9f9; padding: 3em 3em 1em; box-sizing: border-box;}
 footer .cont-wrap {display: flex; justify-content: space-between;}
 footer .f-menu {flex: 55% 0 0;}
 .f-menu .logo {width: 170px;}
 .f-menu ul.menu {display: flex; flex-wrap: wrap; padding-top: 3em;}
 .f-menu ul.menu li {margin-right: 2em;}
 footer .f-mail {flex: 35% 0 0; padding-top: 2em;}
 footer .f-mail .email-box {margin: 1.5em 0; display: flex;}
 footer .f-mail .email-box input {border: 1px solid rgba(228, 228, 228, 0.6); padding: 1em; background-color: transparent; color: #f9f9f9; display: inline-block;}
 .f-mail .email {font-weight: bolder; color: rgba(228, 228, 228, 0.6); border-radius: 2px 0 0 2px;}
 .f-mail .bt-email {font-size: 0.9em; transition: all 0.2s; border-radius: 0 2px 2px 0;}
 .f-mail .bt-email:hover {background-color: #f9f9f9; color: #1a3c34;}

 .cb-wrap input[type="checkbox"] {display: none;}
 .cb-wrap input[type="checkbox"] + label {display: inline-block; position: relative; user-select: none; line-height: 1.2; font-family: 'Noto Sans', sans-serif; color: rgba(228, 228, 228, 0.6);}
 .cb-wrap input[type="checkbox"] + label::before {content: ""; display: inline-block; width: 15px; height: 15px; background-color: transparent; border: 1px solid #f9f9f9; border-radius: 2px; margin-right: 0.5em;}
 .cb-wrap input[type="checkbox"]:checked + label::before {content: "\2713"; font-size: 0.875em; font-weight: bolder; text-align: center;}

.copy-wrap {margin-top: 4em; border-top: 1px solid rgba(228, 228, 228, 0.6); padding-top: 1.5em; font-family: 'Noto Sans', sans-serif; color: rgba(228, 228, 228, 0.6);}
.copy-wrap .terms {display: flex;}
.copy-wrap .terms li {margin-right: 1em; border-right: 1px solid rgba(228, 228, 228, 0.6); padding-right: 1em; font-size: 0.875em;}
.copy-wrap .terms li:last-child {border-right: 0;}
.copy-wrap .copy {padding: 1em 0 0.5em; display: flex; justify-content: space-between; align-items: center;}
.copy-wrap .copy .copyright {font-size: 0.875em;}
.copy-wrap .copy .sns i {margin-left: 0.25em; font-size: 1.125em;}